{% extends "home/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'style/admin.css' %}">

<div class="container">

    <h1>Admin Dashboard</h1>

    <section>
        <h2>📊 Check Player Score</h2>
        <form method="get" action="/view-score/">
            <label>Search by PF No:</label>
            <input type="text" name="pf_no" placeholder="Enter PF No">

            <button type="submit">Search</button>
        </form>

        <form method="get" action="/view-all-scores/">
            <button type="submit">📃 See All Player Scores</button>
        </form>
    </section>


    <div class="dashboard-grid">
        <!-- LEFT SIDE - PLAYER ACTIONS -->
        <div class="dashboard-section">
            <h2>👤 Player Management</h2>

    <section>
        <h2>👤 Add Player</h2>
        <form id = "add-player-form" method="post" action="{% url 'add_player' %}" >
            {% csrf_token %}
            <label>CMS ID:</label>
            <input type="text" name="crewid" id="crewid" required>
            <button type="submit">Search_CMS ID</button>
            <label>Player Name:</label>
            <input type="text" name="crewname" id="crewname" required>
            <label>Father Name:</label>
            <input type="text" name="father" id="father" >
            <label>Mobile No.</label>
            <input type="text" name="mobile_no" id="mobile_no">
            <label>PF No:</label>
            <input type="text" name="emp_no" id="emp_no" >
            <button type="submit">Add Player</button>
        </form>
        
    </section>

    <section>
        <h2>👥 Add Bulk Players</h2>
        <form id="add-bulk-player-form" 
        method="POST" 
        action="{% url 'add_bulk_player' %}"
        enctype="multipart/form-data">
            {% csrf_token %}
            <label>Upload Excel/CSV:</label>
            <input type="file" name="file" required>
            <button type="submit">Upload</button>
        </form>
    </section>

    <section>
    <h2>Add Question</h2>
    <form id="add-question-form"
    method="POST"
    action="{% url 'add_question' %}"
    enctype="multipart/form-data">
        {% csrf_token %}
        <label>Question Text:</label>
        <input type="text" name="question_eng"  placeholder="Question in English">
        <input type="text" name="question_hin" placeholder="प्रश्न हिन्दी में । ">
        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="OPS1">Class 5</option>
            <option value="OPS2">Class 6</option>
            <option value="OPS3">Class 7</option>
            <option value="OPS4">Class 8</option>
        </select>
        <label for="score">Score</label>
        <input type="text" name="score" id="score" required, 1>

        <label for="special_note">Special Note</label>
        <input type="text" name="special_note" id="special_note" >

        <label>Option A:</label>
        <input type="text" name="option_a_eng" placeholder="English" required>
        <input type="text" name="option_a_hin" placeholder="हिन्दी ">
        <label>Option B:</label>
        <input type="text" name="option_b_eng" placeholder="English" required>
        <input type="text" name="option_b_hin" placeholder="हिन्दी">
        <label>Option C:</label>
        <input type="text" name="option_c_eng" placeholder="English" required>
        <input type="text" name="option_c_hin" placeholder="हिन्दी">
        <label>Option D:</label>
        <input type="text" name="option_d_eng" placeholder="English" required>
        <input type="text" name="option_d_hin" placeholder="हिन्दी">
        <select name="correct_answer" id="correct_answer">
            <option value="A" required>A</option>
            <option value="B" required>B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>
        <button type="submit">Add Question</button>
    </form>
        </section>

    <section>
        <h2>❓ Add Bulk Questions</h2>
        <form id="bulk_ques_form" 
        method="POST" 
        action="{% url 'add_bulk_questions' %}"
        enctype="multipart/form-data">
            {% csrf_token %}
            <label>Upload Excel/CSV:</label>
            <input type="file" name="file" required>
            <button type="submit">Upload</button>
        </form>
    </section>

</div>

{% endblock %}
