{% extends "home/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'style/admin.css' %}">

<div class="container">

    <h1>Admin Dashboard</h1>

    <section>
        <h2>📊 Check Player Score</h2>
        <form method="get" action="/view-score/">
            <label>Search by PF No:</label>
            <input type="text" name="pf_no" placeholder="Enter PF No">

            <button type="submit">Search</button>
        </form>

        <form method="get" action="/view-all-scores/">
            <button type="submit">📃 See All Player Scores</button>
        </form>
    </section>

    <section>
        <h2>👤 Add Player</h2>
        <form id = "add-player-form" method="post" action="{% url 'add_player' %}" >
            {% csrf_token %}
            <label>CMS ID:</label>
            <input type="text" name="crewid" id="crewid" required>
            <label>Player Name:</label>
            <input type="text" name="crewname" id="crewname" required>
            <label>Father Name:</label>
            <input type="text" name="father" id="father" >
            <label>Mobile No.</label>
            <input type="text" name="mobile_no" id="mobile_no">
            <label>PF No:</label>
            <input type="text" name="emp_no" id="emp_no" >
            <button type="submit">Add Player</button>
        </form>
        
    </section>

    <section>
        <h2>👥 Add Bulk Players</h2>
        <form id="add-bulk-player-form" 
        method="POST" 
        action="{% url 'add_bulk_player' %}"
        enctype="multipart/form-data">
            {% csrf_token %}
            <label>Upload Excel/CSV:</label>
            <input type="file" name="file" required>
            <button type="submit">Upload</button>
        </form>
    </section>

    <section>
        <h2>❓ Add Bulk Questions</h2>
        <form id="bulk_ques_form" 
        method="POST" 
        action="{% url 'add_bulk_questions' %}"
        enctype="multipart/form-data">
            {% csrf_token %}
            <label>Upload Excel/CSV:</label>
            <input type="file" name="file" required>
            <button type="submit">Upload</button>
        </form>
    </section>

</div>

{% endblock %}
