{% extends "home/base.html" %}
{% load static %}
{% block content %}

<!-- Link CSS -->
<link rel="stylesheet" href="{% static 'style/home.css' %}">

<div class="hero">
    <section class="features">
   
        <h1>Welcome to the Quiz App 💡</h1>
    <p>Test your knowledge, challenge friends, and climb the leaderboard!</p>

    <div>
        <a href="/login/" class="start-btn">Start Quiz 🚀</a>
        <a href="/Play_Game/" class="game-btn">Play Game </a>
    </div>
            
    </section>
</div>

{% endblock %}
