{% extends "home/base.html" %}
{% load static %}

{% block title %}Login • Quiz App{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'style/login.css' %}">
<div class="login-wrapper">
    {% if error %}
      <div class="error-popup">
        {{ error }}
      </div>
    {% endif %}
  <div class="login-card">
    <div class="login-brand">
      <span class="ring">💍</span>
      <h1>Welcome to Quiz APP </h1>
      <p class="subtitle">Log in to start your quiz</p>
    </div>

    <form method="post" class="login-form">
      {% csrf_token %}


      <!-- Player-style login using CMS ID + Mobile No -->
      <label for="username">admin, player1</label>
      <input id="username" name="username" type="text" required placeholder="Enter your CMS ID">

      <label for="password">Password,test123</label>
      <input id="password" name="password" type="password" required placeholder="Enter your Mobile number">

      <button type="submit" class="btn-primary">Sign In</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
