{% extends "home/base.html" %}
{% load static %}
{% block content %}

<!-- Link CSS -->
<link rel="stylesheet" href="{% static 'style/quiz.css' %}">

<div class="quiz-container">
    <h1 class="quiz-title">📝 Quiz Time</h1>

    <form id="quizForm" action="{% url 'submit_quiz' %}" method="POST">
        {% csrf_token %}

        {% for question in questions %}
        <div class="question-block">
            <p class="question-text">{{ forloop.counter }}. {{ question.question_text }}</p>

            {% for option in question.options %}
                <label class="option-label">
                    {{ option.0 }}
                    <input type="radio" name="q{{ question.id }}" value="{{ option.1 }}">
                    {{ option.1 }}
                </label><br>
            {% endfor %}
        </div>
        {% endfor %}

        <div class="quiz-submit">
            <button type="submit">Submit Quiz 🚀</button>
        </div>
    </form>
</div>

{% endblock %}

