{% extends "home/base.html" %}
{% load static %}
{% block content %}

<!-- Link CSS -->
<link rel="stylesheet" href="{% static 'style/home.css' %}">

<div class="hero">
    <section class="features">
   
        <h1>Welcome to the Start Quiz 💡</h1>
    <p>Test your knowledge, challenge friends, and climb the leaderboard!</p>

    <div class="contaner center-line">
        <form action="{% url 'quiz' %}" method="get">   
        <h3>Select Quiz Type:</h3>
    <label>
        <input type="checkbox" name="category" value="ETTC">
        Science
    </label>
    <label>
        <input type="checkbox" name="category" value="ZTC">
        Math
    </label>
    <label>
        <input type="checkbox" name="category" value="Others">
        General Knowledge
    </label>
        <button type="submit" class="start-btn">Start Quiz</button>

        <select name="question_count" id="question_count" required>
            <option value="15" selected>15(default)</option>
            <option value="30">30</option>
            <option value="45">45</option>
            <option value="60">60</option>
            <option value="10">10</option>
            <option value="5">5</option>
        </select>
        </form>
    </div>
    </div>
          <a href="/Play_Game/" class="game-btn">Play Game </a>  
    </section>
</div>

{% endblock %}
