{% extends "home/base.html" %}
{% load static %}
{% block content %}

<!-- Link CSS -->
<link rel="stylesheet" href="{% static 'style/quiz.css' %}">

<div id="quiz-container">
    <h1 class="quiz-title">📝 Quiz Time</h1>

    <form id="quiz-form" action="{% url 'submit_quiz' %}" method="POST">
        {% csrf_token %}

        {% for question in questions %}
        <div class="question-block{% if not forloop.first %} hidden{% endif %}">
            <p class="question-text">{{ forloop.counter }}. {{ question.question_eng}}</p>
            {% if question.question_hin %}
                <p class="question-text">({{ question.question_hin}})</p>
            {% endif %}

            {% for option in question.options %}
                <label class="option-label">
                    {{ option.0 }}
                    <input type="radio" name="q{{ question.id }}" value="{{ option.1 }}">
                    {{ option.1 }}
                </label><br>
            {% endfor %}
            
            {% if forloop.last %}
            <button type="submit">Submit Quiz 🚀</button>
            {% else %}
            <button type="button" class="next-btn">Next ❯</button>
            {% endif %}
        </div>
        {% endfor %}
    </form>
</div>

{% endblock %}

