{% extends "home/base.html" %}
{% load static %}
{% block content %}

<!-- Link CSS -->
<link rel="stylesheet" href="{% static 'style/home.css' %}">

<div class="hero">
    <section class="features">
   
        <h1>Welcome to the Start Quiz 💡</h1>
    <p>Test your knowledge, challenge friends, and climb the leaderboard!</p>

    <div class="contaner center-line">
        <h3 class="contaner centrer-line">Select Quiz Type</h3>
        <label for="quiz type">
            <input type="checkbox" name="tech" id="ETTC & DTTC">
            Science
        </label>
        <label for="safety">
            <input type="checkbox" name="safety" id="Safety">
            Math
        </label>
        <label for="Others">
            <input type="checkbox" name="others" id="Others">
            General Knowledge
        </label>
            <div>
        <a href="{% url 'quiz' %}" class="start-btn">Start 🚀</a>
        
        <select name="question_count" id="question_count" required>
            <option value="15" selected>15(default)</option>
            <option value="30">30</option>
            <option value="45">45</option>
            <option value="60">60</option>
            <option value="10">10</option>
            <option value="5">5</option>
        </select>
    </div>
    </div>
            
    </section>
</div>

{% endblock %}
